*{margin:0;padding:0}
.h-panel,.login-banner {
    width: 1130px;
    margin: 0 auto;
}
.h-logo {
    width: 200px;
    height: 98px;
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}
.body{
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/553c5e503fc83138c76bd7c17c1434db.jpeg);
    height: 559px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    overflow: hidden;
}
.body-text{
    width: 410px;
    height: 524px;
    background: white;
    position: absolute;
    left: 915px;
    top: 35px;
}
.text-nav{
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
    height: 32px;
}
.text-nav>span{
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
}
.text-nav>a{
    color: #666;
    text-decoration: none;
}
.text-nav>.nav-select{
    color: #f56600;
}
.text-nav>a:hover{
    color: #f56600;
}
.text-input{
    height: 256.2px;
    margin-top: 10px;
}
.text-input>form{
    width: 348px;
    margin-left: auto;
    margin-right: auto;
}
.text-input>form>input{
    width: 316px;
    height: 22px;
    padding: 13px 16px 13px 14px;
    border: 1px solid #e0e0e0;
}
.password{
    margin-top: 18px;
    margin-bottom: 24px;
}
.text-input>form>button{
    border-style: none;
    width: 348px;
    height: 50px;
    background: #f56600;
    color: white;
}
.register{
    width: 348px;
    height: 49.2px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
.register>a{
    float: left;
    text-decoration: none;
    color: #f56600;
}
.register-forget{
    float: right;
    text-align: center;
}
.register-forget>a{
    text-decoration: none;
    color: rgb(153, 153, 153);  
}
.register-forget>span{
    width: 8.43px;
    height: 16px;
    border: 0.5px solid rgb(153, 153, 153);
    margin-right: 5px;
}
.text-other{
    width: 348px;
    height: 292px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 78px;
}
.text-other>div{
    height: 29.2px;
    color: #e0e0e0;
    /* border-style: none; */
    font-size: 14px;
    position: relative;
}
.line{
    height: 1px;
    background: #e0e0e0;
    width: 132px;
    float: left;
    margin-top: 9px;
}
.other-title{
    /* border-top: 1px solid #e0e0e0; */
    /* padding-top: 10px; */
    /* text-align:center; */
    height:19.2px;
    float: left;
}
.other-title>a{
    height: 19.2px;
    font-size: 14px;
    color: #e0e0e0;
    text-decoration: none;
}
.iconf{
    margin: 0 auto;
    width: 348px;
    text-align: center;
}
.iconf a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin: 4px 14px 0;
}
.iconf i{
    width: 18px;
    height: 18px;
    background-image: url('../images/icons_type.png');
    margin: auto;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
}
.qq{
    background-position-x: -19px;
}
.vb{
    background-position-x: -38px;
}
.iconf>a>.zb{
    background-position-x: -56px;
    width: 25px;
}
.iconf>a>.vx{
    background-position-x: -83px;
    width: 24px;
}
.a-qq,.a-zb{
    background: #0288D1;
}
.a-vb{
    background: #D32F2F;
}
.a-vx{
    background: #00D20D;
}
.bottom{
    background: #fff;
    margin-top: 0;
    padding-top: 100px;
    position: relative;
    z-index: 4;
    padding-bottom: 20px;
}
.bottom-area{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 19.2px;
    position: relative;
}
.bottom-area>ul{
    width: 334px;
    height: 19.2px;
    overflow: hidden;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    color: #666;
}
.bottom li{
    float: left;
    list-style: none;
}
.bottom a{
    padding: 0 10px;
    width: 28px;
    height: 19.2px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.bottom-area>ul>li>.bottom-select{
    color: #333;
}
.bottom-area>ul>li>a:hover{
    color: #333;
}
.bottom-safe{
    padding: 10px;
    color: #666;
    font-size: 14px;
    text-align: center;
}
.nav-total{
    line-height: 20px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    width:300px;
}
.nav-total>a{
    margin: 0 30px;
}

